.scroll-indicator {
    position: fixed;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
   
}

.indicator-item {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    transition: color 0.3s, transform 0.3s;
}

.indicator-item.active {
    color: #4CAF50;
    transform: scale(1.5);
}

